@model AirtelSales.DAL.IncentiveConfig

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-12">
    <div class="card card-dashboard-twelve mg-b-20">

        <div class="media-body">
            <div class="card card-minimal-two">
                <div class="card-header">
                    <h2>Delete Incentive Config   </h2> 
                    
                </div>
                <div class="card-body">

                </div><!-- card-body -->
            </div><!-- card minimal-->
        </div> <!--media body-->
    </div> <!--card-->
</div>

<div class="col-md-12">
    <div class="card card-dashboard-twelve mg-b-20">

        <div class="media-body">
            <div class="card card-minimal-two">
                <div class="card-body">
                    <div style="margin: 25px auto">
                        <div class="col-md-6 col-xl-6 mg-t-40 mg-md-t-0">
                            <div class="az-profile-contact-list">
                                <div>
                                    <h5 class="text-danger" > Are you sure you want to delete this ?</h5>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.quarter)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.quarter)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.orsc)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.orsc)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.bts)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.bts)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.created_by)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.created_by)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.created_at)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.created_at)
                                        </dd>

                                    </dl>
                                </div>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                }
                            </div><!-- az-profile-contact-list -->
                        </div>
                    </div>

                </div><!-- card-body -->
            </div><!-- card minimal-->
        </div> <!--media body-->
    </div> <!--card-->
</div>

