@model IEnumerable<AirtelSales.DAL.survey_types>
@using AirtelSales.DAL;

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="card card-dashboard-twelve mg-b-20">

        <div class="media-body">
            <div class="card card-minimal-two">
                <div class="card-header">
                    <h2>Survey Type</h2>
                    <a href="@Url.Action("Create", "Survey" )" class="btn btn-outline-danger float-right">Create</a>
                </div>
                <div class="card-body">

                </div><!-- card-body -->
            </div><!-- card minimal-->
        </div> <!--media body-->
    </div> <!--card-->
</div>

@if (ViewContext.HttpContext.User.IsInRole("MarketDeveloper"))
{
    @*<div class="col-md-12">
            <div class="card card-dashboard-twelve mg-b-20">

                <div class="media-body">
                    <div class="card card-minimal-two">

                        <div class="card-body">
                            <div style="margin-top: 20px">
                                <h5>Select Survey to Fill Questionaire</h5>
                                <div class="row">


                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-4" style="margin-bottom: 20px">
                                            <a href="@Url.Action("SurveyType", "Survey", new { id = item.Id })" class="btn btn-outline-danger">@item.SurveyName</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
}

<div class="col-md-12">
    <div class="card card-dashboard-twelve mg-b-20">

        <div class="media-body">
            <div class="card card-minimal-two">
                @*<div class="card-header">

                    </div>*@
                <div class="card-body">
                    <div style="margin: 20px auto">
                        <table id="table_id" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Survey Type")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Survey Description")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Survey Count")
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    AirtelSalesDBEntities db = new AirtelSalesDBEntities();
                                    var surveyCount = db.all_surveys.Where(m => m.SurveyTypeId == item.Id).Count();
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurveyDesc)
                                        </td>
                                        <td>
                                            @surveyCount
                                        </td>

                                        <td>
                                            <a class="btn btn-outline-info" href="@Url.Action("List", "Survey", new { Id = item.Id})">View Survey</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- card-body -->
            </div><!-- card minimal-->
        </div> <!--media body-->
    </div> <!--card-->
</div>




@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Omnistack-UI-html/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Omnistack-UI-html/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Omnistack-UI-html/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Omnistack-UI-html/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Omnistack-UI-html/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="~/Omnistack-UI-html/lib/select2/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                //"scrollX": true,
                "ordering": false,
                "responsive": true,
            });
        });
    </script>
}
